@{
    ViewBag.Title = "More Marks...";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> @ViewBag.Title</h3>
    </div>
</div>
<div>

    <div class="well">
        <a class="list-group-item" target="_blank" href="~/Docs/GirlsShot180507.pdf">Girls Shot Put</a>
        <a class="list-group-item" target="_blank" href="~/Docs/BoysShot180507.pdf">Boys Shot Put</a>
        <a class="list-group-item" target="_blank" href="~/Docs/GirlsDiscus180507.pdf">Girls Discus</a>
        <a class="list-group-item" target="_blank" href="~/Docs/BoysDiscus180507.pdf">Boys Discus</a>
        <a class="list-group-item" target="_blank"  href="~/Docs/ArizonaAllTimePoleVaultBoys2017.pdf">Arizona All Time PoleVault Boys 2017</a>
        <a class="list-group-item" target="_blank"  href="~/Docs/ArizonaAllTimePoleVaultGirls2017.pdf">Arizona All Time PoleVault Girls 2017</a>
        <a class="list-group-item" target="_blank"  href="~/Docs/2018Rankings.xlsx">2018 Rankings</a>
        <a class="list-group-item" target="_blank"  href="~/Docs/DesertVistaClassRecordsMay122017.xlsx">Desert Vista Class Records - May 12, 2017</a>
        <a class="list-group-item" target="_blank"  href="~/Docs/DesertVistaTopTenMay122017.xlsx">Desert Vista Top Ten - May 12, 2017</a>
    </div>
</div>
