@{
    ViewBag.Title = "About";
}

<article>
    
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> @ViewBag.Message</h3>
    </div>

</div>
</article>

<aside>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Arizona State Meet</h3>
  </div>
  <div class="panel-body">
    <ul>
        <li><strong>Champions</strong><br /><em>Boys:</em> 2015, 2009</li>
        <li><strong>Runners-Up</strong><br /><em>Girls:</em> 2014, 2013, 2010<br /><em>Boys:</em> 2014</li>
        <li><strong>Third Place</strong><br /><em>Girls:</em> 2015, 2009<br /><em>Boys:</em> 2010</li>
        <li><strong>Fourth Place</strong><br /><em>Girls:</em> 2011</li>
    </ul>  </div>
</div>
</aside>
