@{
    ViewBag.Title = "Boosters";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> @ViewBag.Message</h3>
    </div>

</div>

<div class="row">
    <div class="col-md-3">

        <ul class="list-group">
            <li class="list-group-item active">Oversight</li>
            <a class="list-group-item" target="_blank" href="http://dvhsthunderboard.org/">Thunder Board Association</a>
        </ul>

        <ul class="list-group">
            <li class="list-group-item active">Officers</li>
            <a class="list-group-item" href="mailto:jennbonebright@gmail.com"><strong>President: </strong>Jennifer Bonebright</a>
            <a class="list-group-item" href="mailto:elievans4432@yahoo.com"><strong>Vice President: </strong>Beth Evans</a>
            <a class="list-group-item" href="mailto:mrs.santosrn@gmail.com"><strong>Secretary: </strong>Lynette Santos</a>
            <a class="list-group-item" href="mailto:carolyntippit@gmail.com"><strong>Treasurer: </strong>Carolyn Tippit</a>

        </ul>
        
    </div>
    <div class="col-md-6">
        <ul class="list-group">
            <li class="list-group-item active">Committees</li>
            <li class="list-group-item"><strong>Fund Raising:</strong> [open]</li>
            <li class="list-group-item"><strong>Photography:</strong> [open]</li>
            <li class="list-group-item"><strong>Merchandise:</strong> [open]</li>
            <li class="list-group-item"><strong>Concessions:</strong> Beth Evans</li>
            <li class="list-group-item"><strong>End Of Year Activities:</strong> [open]</li>
            <li class="list-group-item"><strong>Timers:</strong> Janet Smith</li>
        </ul>


    </div>
    <div class="col-md-3">
        <ul class="list-group">
            <li class="list-group-item active">Forms</li>
            <li class="list-group-item">Membership Registration</li>
            <li class="list-group-item">Tax Credit Form</li>
        </ul>
        <ul class="list-group">
            <li class="list-group-item active">Fry's Community Rewards</li>
            @*<li class="list-group-item">eScrip FAQ</li>*@
            <a class="list-group-item" target="_blank" href="https://www.frysfood.com/topic/community/#/new-community-rewards-program">Registration / Re-Enroll</a>
        </ul>
        
    </div>
</div>

