@{
    ViewBag.Title = "Resources";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> @ViewBag.Message</h3>
    </div>

</div>
