@{
    ViewBag.Title = "Roster";
}


<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> @ViewBag.Message</h3>
    </div>

</div>