<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
            Event Calendar
        </h3>
    </div>
    <div class="panel-body">
                <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;src=dvhsthundertrack%40gmail.com&amp;color=%23060D5E&amp;src=p1v7cqev9k3h1721tfkgua94t0%40group.calendar.google.com&amp;color=%237A367A&amp;src=19noaudghid95bkmaj3ksiehj8%40group.calendar.google.com&amp;color=%231B887A&amp;src=94rj7c88uhmmq57b4o1nk25dkk%40group.calendar.google.com&amp;color=%230D7813&amp;src=fcdep943m12rlcg8rk9d87bfq8%40group.calendar.google.com&amp;color=%23711616&amp;showTabs=0&amp;showTz=0&amp;height=400&amp;wkst=1&amp;bgcolor=%23ffcc00&amp;ctz=America%2FPhoenix"
                        style="border:solid 1px #777" width="900" height="400" frameborder="0" scrolling="no"></iframe>
    </div>
</div>
