<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            <i class="fa fa-bolt"></i>
            Spirit Wear Items
        </h3>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item">
                <strong>
                    <strong>
                        <a href="https://squareup.com/store/dvtrack" target="_blank">Booster Store (Spirit Apparel and Accessories)</a>
                    </strong>
                </strong>
            </li>

            @*<li class="list-group-item">
                <strong>
                    <a href="http://spiritstore.olinesports.com/index.php?school_url=dvthundertrack.olinesports.com" target="_blank">Spirit Wear Store (oline sports)</a>
                </strong>
            </li>*@
        </ul>
    </div>
</div>


